*{padding: 0; margin: 0;}
html {overflow-y: scroll;}

body {
font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 0.8em;margin: 0;padding: 0;
line-height: 1.4;
}

hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:1px;margin:0 0 1.45em;border:none;}
img.thumbnail {padding:5px; border:1px solid #e3e3e3;}

/*
HTML elements
*/
img { border-style: none; vertical-align:middle; }
img.fade { opacity: 0.4; filter: alpha(opacity=40); zoom: 1; }

A {	color: #0065ce;text-decoration: none}
A:hover {color: #0065ce;text-decoration: underline;}

A.pagination {border: #e1ebfb 1px solid;padding-left: 2px;padding-right: 2px;font-weight: normal;font-size: 1.1em;background: #f5f9ff;margin-bottom: 3px;color: #666;text-decoration: none;}
A:hover.pagination { background: none transparent scroll repeat 0% 0%; color: #ac0018; text-decoration: none;}

A.black {	background: none transparent scroll repeat 0% 0%;color: black;text-decoration: none}
A:hover.black {background: none transparent scroll repeat 0% 0%;color: black;text-decoration: underline;}

A.grey { background: none transparent scroll repeat 0% 0%;color: #736F6E;text-decoration: none}
A:hover.grey {background: none transparent scroll repeat 0% 0%;color: #736F6E;text-decoration: underline;}

A.top_menu {background: none transparent scroll repeat 0% 0%;color: #635644;text-decoration: none; font-size: 11px;}
A:hover.top_menu {background: none transparent scroll repeat 0% 0%;color: #635644;text-decoration: underline; font-size: 11px;}

/*
Containers
*/

.defaultTable {border-collapse:collapse;}

.greyTable {border-collapse:collapse; background: #f5f5f5; border: #b5b5b5 1px solid;}
.greyBox {border-collapse:collapse; background: #f5f5f5; border: #b5b5b5 1px solid;}

.greyBackground { background: #f5f5f5; }

.quote {padding: 10px;background: #f5f5f5;}

.round-corners { -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
.round-corners-top { -webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px; }

li{list-style:none}

#topMenu{display:block;}
#topMenu ul{overflow:hidden;background:#eae9e9; padding:0px; margin:0px; margin-bottom:10px;}
#topMenu ul li{float:left}
#topMenu ul li a{display:block;padding:11px 10px;text-decoration:none;color:#000;font-size:1.2em;font-weight:bold;line-height:1}
#topMenu ul li a:hover{background:#9e1b34; color:#fff;}
#topMenu ul a.current{background:#9e1b34; color:#fff;}

/*
Forms
*/

/*
select { padding:3px;border:1px solid #aaa;background:#fff;line-height:1em;margin:0;}
input[type="text"], input[type="password"] { padding:3px;border:1px solid #aaa;background:#f5f5f5;}
textarea { padding:3px;border:1px solid #aaa;background:#f5f5f5;}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus, .focus{background:#fff;}

input[type="submit"] {border:1px solid #dcdcdc;background:#555;color:#fff;padding-top:5px;padding-bottom:5px;padding-right:10px;padding-left:10px;cursor:pointer;}
input:disabled[type="submit"] {border:1px solid #dcdcdc;background:#f5f5f5;color:black;padding-top:5px;padding-bottom:5px;padding-right:10px;padding-left:10px;cursor:default;}

input[type="submit"].white {border:1px solid #dcdcdc;background:#f5f5f5;color:black;padding-top:3px;padding-bottom:3px;padding-right:10px;padding-left:10px;cursor:pointer;}
*/

/*
.prev {
background:url("../graph/icons/slider-navigation.png") no-repeat scroll 0 0 transparent;
height:42px;
left:50%;
margin:-21px 0 0 -550px;
overflow:hidden;
position:absolute;
text-indent:-9000px;
top:25%;
width:42px;
}

.next {
background:url("../graph/icons/slider-navigation.png") no-repeat scroll 0 -42px transparent;
height:42px;
left:50%;
margin:-21px 0 0 510px;
overflow:hidden;
position:absolute;
text-indent:-9000px;
top:25%;
width:42px;
}

.btn {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.btn:hover {
	text-decoration: none;
}
.btn:active {
	position: relative;
	top: 1px;
}

.bigrounded {
	font-size: 18px;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}
.medium {
	font-size: 12px;
	padding: .4em 1.5em .42em;
}
.small {
	font-size: 11px;
	padding: .2em 1em .275em;
}
 
.green {
	color: #e8f0de;
	border: solid 1px #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.green:hover {
	color: #e8f0de;
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
	background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.green:active {
	color: #a9c08c;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
	background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}
*/
