/*
* jQuery Mobile Framework 1.1.0 
* http://jquerymobile.com
*
* Copyright 2011 (c) jQuery Project
* Dual licensed under the MIT or GPL Version 2 licenses.
* http://jquery.org/license
*
* Customized by Mike Ilsley - BeantownDesign.com
*
*/

@import url(http://fonts.googleapis.com/css?family=Kaushan+Script); /* font-family: 'Kaushan Script', cursive; */
@import url(http://fonts.googleapis.com/css?family=Lobster); /* font-family: 'Lobster', cursive; */
@import url(http://fonts.googleapis.com/css?family=Cabin:400,700); /* font-family: 'Cabin', sans-serif; font-weight: 400; */
@import url(http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911); /* font-family: 'Goudy Bookletter 1911', serif; */
@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,700italic,600); /* font-family: 'Crimson Text', serif; */
@import url(http://fonts.googleapis.com/css?family=Cardo:400,700); /* font-family: 'Cardo', serif; */
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700italic,700); /* font-family: 'Droid Serif', serif; */
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700); /* font-family: 'Droid Sans', sans-serif; */


/* =============================================================================================================
   CSS for Mobilize theme by Beantown Design  
   Jump to  line #1375 to begin customizing your theme.
   ========================================================================================================== */
   

/* =============================================================================
   Global styles
   ========================================================================== */


/* links within "buttons" 
-----------------------------------------------------------------------------------------------------------*/

a.ui-link-inherit {
	text-decoration: none !important;
}



/* corner rounding classes
-----------------------------------------------------------------------------------------------------------*/

.ui-corner-tl {
	-moz-border-radius-topleft: 		.4em /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius: 	.4em /*{global-radii-blocks}*/;
	border-top-left-radius: 			.4em /*{global-radii-blocks}*/;
}
.ui-corner-tr {
	-moz-border-radius-topright: 		.4em /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius: 	.4em /*{global-radii-blocks}*/;
	border-top-right-radius: 			.4em /*{global-radii-blocks}*/;
}
.ui-corner-bl {
	-moz-border-radius-bottomleft: 		.4em /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius: 	.4em /*{global-radii-blocks}*/;
	border-bottom-left-radius: 			.4em /*{global-radii-blocks}*/;
}
.ui-corner-br {
	-moz-border-radius-bottomright: 	.4em /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius: .4em /*{global-radii-blocks}*/;
	border-bottom-right-radius: 		.4em /*{global-radii-blocks}*/;
}
.ui-corner-top {
	-moz-border-radius-topleft: 		.4em /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius: 	.4em /*{global-radii-blocks}*/;
	border-top-left-radius: 			.4em /*{global-radii-blocks}*/;
	-moz-border-radius-topright: 		.4em /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius: 	.4em /*{global-radii-blocks}*/;
	border-top-right-radius: 			.4em /*{global-radii-blocks}*/;
}
.ui-corner-bottom {
	-moz-border-radius-bottomleft: 		.4em /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius: 	.4em /*{global-radii-blocks}*/;
	border-bottom-left-radius: 			.4em /*{global-radii-blocks}*/;
	-moz-border-radius-bottomright: 	.4em /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius: .4em /*{global-radii-blocks}*/;
	border-bottom-right-radius: 		.4em /*{global-radii-blocks}*/;
	}
.ui-corner-right {
	-moz-border-radius-topright: 		.4em /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius: 	.4em /*{global-radii-blocks}*/;
	border-top-right-radius: 			.4em /*{global-radii-blocks}*/;
	-moz-border-radius-bottomright: 	.4em /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius: .4em /*{global-radii-blocks}*/;
	border-bottom-right-radius: 		.4em /*{global-radii-blocks}*/;
}
.ui-corner-left {
	-moz-border-radius-topleft: 		.4em /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius: 	.4em /*{global-radii-blocks}*/;
	border-top-left-radius: 			.4em /*{global-radii-blocks}*/;
	-moz-border-radius-bottomleft: 		.4em /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius: 	.4em /*{global-radii-blocks}*/;
	border-bottom-left-radius: 			.4em /*{global-radii-blocks}*/;
}
.ui-corner-all {
	-moz-border-radius: 				.4em /*{global-radii-blocks}*/;
	-webkit-border-radius: 				.4em /*{global-radii-blocks}*/;
	border-radius: 						.4em /*{global-radii-blocks}*/;
}
.ui-corner-none {
	-moz-border-radius: 				   0;
	-webkit-border-radius: 				   0;
	border-radius: 						   0;
}




/* Form field separator
-----------------------------------------------------------------------------------------------------------*/
.ui-br {
	border-bottom: rgb(130,130,130);
	border-bottom: rgba(130,130,130,.3);
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

/* Interaction cues
-----------------------------------------------------------------------------------------------------------*/
.ui-disabled {
	opacity: .3;
}
.ui-disabled,
.ui-disabled a {
	cursor: default !important;
	pointer-events: none;
}
.ui-disabled .ui-btn-text {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=30)";
	filter: alpha(opacity=30);
	zoom: 1;
}

/* Icons
-----------------------------------------------------------------------------------------------------------*/

.ui-icon,
.ui-icon-searchfield:after {
	background: 						#666 /*{global-icon-color}*/;
	background: 						#eee /*{global-icon-disc}*/;
	background-image: url(http://code.jquery.com/mobile/1.1.0/images/icons-18-black.png) /*{global-icon-set}*/;
	background-repeat: no-repeat;
	-moz-border-radius: 				9px;
	-webkit-border-radius: 				9px;
	border-radius: 						9px;
}


/* Alt icon color
-----------------------------------------------------------------------------------------------------------*/

.ui-icon-alt {
	background: 						#fff;
	background: 						rgba(255,255,255,.3);
	background-image: url(http://code.jquery.com/mobile/1.1.0/images/icons-18-black.png);
	background-repeat: no-repeat;
}

/* HD/"retina" sprite
-----------------------------------------------------------------------------------------------------------*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 240dpi) {
	
	.ui-icon-plus, .ui-icon-minus, .ui-icon-delete, .ui-icon-arrow-r,
	.ui-icon-arrow-l, .ui-icon-arrow-u, .ui-icon-arrow-d, .ui-icon-check,
	.ui-icon-gear, .ui-icon-refresh, .ui-icon-forward, .ui-icon-back,
	.ui-icon-grid, .ui-icon-star, .ui-icon-alert, .ui-icon-info, .ui-icon-home, .ui-icon-search, .ui-icon-searchfield:after, 
	.ui-icon-checkbox-off, .ui-icon-checkbox-on, .ui-icon-radio-off, .ui-icon-radio-on {
		background-image: url(http://code.jquery.com/mobile/1.1.0/images/icons-36-black.png);
		-moz-background-size: 776px 18px;
		-o-background-size: 776px 18px;
		-webkit-background-size: 776px 18px;
		background-size: 776px 18px;
	}
	.ui-icon-alt {
		background-image: url(http://code.jquery.com/mobile/1.1.0/images/icons-36-black.png);
	}
}
/* plus minus */
.ui-icon-plus {background-position: 	-0 50%;}
.ui-icon-minus {background-position: 	-36px 50%;}
/* delete/close */
.ui-icon-delete {background-position: 	-72px 50%;}
/* arrows */
.ui-icon-arrow-r {background-position: 	-108px 50%;}
.ui-icon-arrow-l {background-position: 	-144px 50%;}
.ui-icon-arrow-u {background-position: 	-180px 50%;}
.ui-icon-arrow-d {background-position: 	-216px 50%;}
/* misc */
.ui-icon-check {background-position: 	-252px 50%;}
.ui-icon-gear {background-position: 	-288px 50%;}
.ui-icon-refresh {background-position: 	-324px 50%;}
.ui-icon-forward {background-position: 	-360px 50%;}
.ui-icon-back {background-position: 	-396px 50%;}
.ui-icon-grid {background-position: 	-432px 50%;}
.ui-icon-star {background-position: 	-468px 50%;}
.ui-icon-alert {background-position: 	-504px 50%;}
.ui-icon-info {background-position: 	-540px 50%;}
.ui-icon-home {background-position: 	-576px 50%;}
.ui-icon-search, .ui-icon-searchfield:after { background-position: 	-612px 50%;}
.ui-icon-checkbox-off { background-position: 	-684px 50%; }
.ui-icon-checkbox-on { background-position: 	-648px 50%; }
.ui-icon-radio-off { background-position: 	-756px 50%; }
.ui-icon-radio-on { background-position: 	-720px 50%; }
/* checks,radios */
.ui-checkbox .ui-icon {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.ui-icon-checkbox-off,
.ui-icon-radio-off {
	background-color: transparent;	
}
.ui-checkbox-on .ui-icon,
.ui-radio-on .ui-icon {
	background-color: #4596ce /*{global-active-background-color}*/; /* NOTE: this hex should match the active state color. It's repeated here for cascade */
}
/* loading icon */
.ui-icon-loading {
	background: url(http://code.jquery.com/mobile/1.1.0/images/ajax-loader.gif);
	background-size: 46px 46px;
}



/* Button corner classes
-----------------------------------------------------------------------------------------------------------*/

.ui-btn-corner-tl {
	-moz-border-radius-topleft: 		.5em /*{global-radii-buttons}*/;
	-webkit-border-top-left-radius: 	.5em /*{global-radii-buttons}*/;
	border-top-left-radius: 			.5em /*{global-radii-buttons}*/;
}
.ui-btn-corner-tr {
	-moz-border-radius-topright: 		.5em /*{global-radii-buttons}*/;
	-webkit-border-top-right-radius: 	.5em /*{global-radii-buttons}*/;
	border-top-right-radius: 			.5em /*{global-radii-buttons}*/;
}
.ui-btn-corner-bl {
	-moz-border-radius-bottomleft: 		.5em /*{global-radii-buttons}*/;
	-webkit-border-bottom-left-radius: 	.5em /*{global-radii-buttons}*/;
	border-bottom-left-radius: 			.5em /*{global-radii-buttons}*/;
}
.ui-btn-corner-br {
	-moz-border-radius-bottomright: 	.5em /*{global-radii-buttons}*/;
	-webkit-border-bottom-right-radius: .5em /*{global-radii-buttons}*/;
	border-bottom-right-radius: 		.5em /*{global-radii-buttons}*/;
}
.ui-btn-corner-top {
	-moz-border-radius-topleft: 		.5em /*{global-radii-buttons}*/;
	-webkit-border-top-left-radius: 	.5em /*{global-radii-buttons}*/;
	border-top-left-radius: 			.5em /*{global-radii-buttons}*/;
	-moz-border-radius-topright: 		.5em /*{global-radii-buttons}*/;
	-webkit-border-top-right-radius: 	.5em /*{global-radii-buttons}*/;
	border-top-right-radius: 			.5em /*{global-radii-buttons}*/;
}
.ui-btn-corner-bottom {
	-moz-border-radius-bottomleft: 		.5em /*{global-radii-buttons}*/;
	-webkit-border-bottom-left-radius: 	.5em /*{global-radii-buttons}*/;
	border-bottom-left-radius: 			.5em /*{global-radii-buttons}*/;
	-moz-border-radius-bottomright: 	.5em /*{global-radii-buttons}*/;
	-webkit-border-bottom-right-radius: .5em /*{global-radii-buttons}*/;
	border-bottom-right-radius: 		.5em /*{global-radii-buttons}*/;
}
.ui-btn-corner-right {
	 -moz-border-radius-topright: 		.5em /*{global-radii-buttons}*/;
	-webkit-border-top-right-radius: 	.5em /*{global-radii-buttons}*/;
	border-top-right-radius: 			.5em /*{global-radii-buttons}*/;
	-moz-border-radius-bottomright: 	.5em /*{global-radii-buttons}*/;
	-webkit-border-bottom-right-radius: .5em /*{global-radii-buttons}*/;
	border-bottom-right-radius: 		.5em /*{global-radii-buttons}*/;
}
.ui-btn-corner-left {
	-moz-border-radius-topleft: 		.5em /*{global-radii-buttons}*/;
	-webkit-border-top-left-radius: 	.5em /*{global-radii-buttons}*/;
	border-top-left-radius: 			.5em /*{global-radii-buttons}*/;
	-moz-border-radius-bottomleft: 		.5em /*{global-radii-buttons}*/;
	-webkit-border-bottom-left-radius: 	.5em /*{global-radii-buttons}*/;
	border-bottom-left-radius: 			.5em /*{global-radii-buttons}*/;
}
.ui-btn-corner-all {
	-moz-border-radius: 				.5em /*{global-radii-buttons}*/;
	-webkit-border-radius: 				.5em /*{global-radii-buttons}*/;
	border-radius: 						.5em /*{global-radii-buttons}*/;
}

/* radius clip workaround for cleaning up corner trapping */
.ui-corner-tl,
.ui-corner-tr,
.ui-corner-bl, 
.ui-corner-br,
.ui-corner-top,
.ui-corner-bottom, 
.ui-corner-right,
.ui-corner-left,
.ui-corner-all,
.ui-btn-corner-tl,
.ui-btn-corner-tr,
.ui-btn-corner-bl, 
.ui-btn-corner-br,
.ui-btn-corner-top,
.ui-btn-corner-bottom, 
.ui-btn-corner-right,
.ui-btn-corner-left,
.ui-btn-corner-all {
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

/* Overlay / modal
-----------------------------------------------------------------------------------------------------------*/

.ui-overlay {
	background: #666;
	opacity: .5;
	filter: Alpha(Opacity=50);
	position: absolute;
	width: 100%;
	height: 100%;
}
.ui-overlay-shadow {
	-moz-box-shadow: 0px 0px 12px 			rgba(0,0,0,.6);
	-webkit-box-shadow: 0px 0px 12px 		rgba(0,0,0,.6);
	box-shadow: 0px 0px 12px 				rgba(0,0,0,.6);
}
.ui-shadow {
	-moz-box-shadow: 0px 1px 4px /*{global-box-shadow-size}*/ 			rgba(0,0,0,.3) /*{global-box-shadow-color}*/;
	-webkit-box-shadow: 0px 1px 4px /*{global-box-shadow-size}*/ 		rgba(0,0,0,.3) /*{global-box-shadow-color}*/;
	box-shadow: 0px 1px 4px /*{global-box-shadow-size}*/ 				rgba(0,0,0,.3) /*{global-box-shadow-color}*/;
}
.ui-bar-a .ui-shadow,
.ui-bar-b .ui-shadow ,
.ui-bar-c .ui-shadow  {
	-moz-box-shadow: 0px 1px 0 				rgba(255,255,255,.3);
	-webkit-box-shadow: 0px 1px 0 			rgba(255,255,255,.3);
	box-shadow: 0px 1px 0 					rgba(255,255,255,.3);
}
.ui-shadow-inset {
	-moz-box-shadow: inset 0px 1px 4px 		rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0px 1px 4px 	rgba(0,0,0,.2);
	box-shadow: inset 0px 1px 4px 			rgba(0,0,0,.2);
}
.ui-icon-shadow {
	-moz-box-shadow: 0px 1px 0 				rgba(255,255,255,.4);
	-webkit-box-shadow: 0px 1px 0 			rgba(255,255,255,.4);
	box-shadow: 0px 1px 0 					rgba(255,255,255,.4);
}

/* Focus state - set here for specificity (note: these classes are added by JavaScript)
-----------------------------------------------------------------------------------------------------------*/
.ui-btn:focus {
	outline: 0;
}
.ui-focus,
.ui-btn:focus {
	-moz-box-shadow: 0px 0px 12px 		#387bbe /*{global-active-background-color}*/;
	-webkit-box-shadow: 0px 0px 12px 	#387bbe /*{global-active-background-color}*/;
	box-shadow: 0px 0px 12px 			#387bbe /*{global-active-background-color}*/;
}



/* unset box shadow in browsers that don't do it right
-----------------------------------------------------------------------------------------------------------*/
.ui-mobile-nosupport-boxshadow * {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
/* ...and bring back focus */
.ui-mobile-nosupport-boxshadow .ui-focus,
.ui-mobile-nosupport-boxshadow .ui-btn:focus {
	outline-width: 1px;
	outline-style: dotted;
}
/* some unsets - more probably needed */
.ui-mobile, .ui-mobile body { height: 99.9%; }
.ui-mobile fieldset, .ui-page { padding: 0; margin: 0; }
.ui-mobile a img, .ui-mobile fieldset { border-width: 0; }
/* responsive page widths */
.ui-mobile-viewport {  margin: 0; overflow-x: visible; -webkit-text-size-adjust: none; -ms-text-size-adjust:none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
/* Issue #2066 */
body.ui-mobile-viewport,
div.ui-mobile-viewport { overflow-x: hidden; }
/* "page" containers - full-screen views, one should always be in view post-pageload */
.ui-mobile [data-role=page], .ui-mobile [data-role=dialog], .ui-page { top: 0; left: 0; width: 100%; min-height: 100%; position: absolute; display: none; border: 0; }
.ui-mobile .ui-page-active { display: block; overflow: visible; }
/* on ios4, setting focus on the page element causes flashing during transitions when there is an outline, so we turn off outlines */
.ui-page { outline: none; }
/*orientations from js are available */
@media screen and (orientation: portrait){
.ui-mobile, .ui-mobile .ui-page { min-height: 420px; }
}
@media screen and (orientation: landscape){
.ui-mobile, .ui-mobile .ui-page {  }
}
/* loading screen */
.ui-loading .ui-loader { display: block; }
.ui-loader { display: none; z-index: 9999999; position: fixed; top: 50%; box-shadow: 0 1px 1px -1px #fff; left: 50%; border:0; }
.ui-loader-default { background: none; opacity: .18; width: 46px; height: 46px; margin-left: -23px; margin-top: -23px; }
.ui-loader-verbose { width: 200px; opacity: .88; height: auto; margin-left: -110px; margin-top: -43px; padding: 10px; }
.ui-loader-default h1 { font-size: 0; width: 0; height: 0; overflow: hidden; }
.ui-loader-verbose h1 { font-size: 16px; margin: 0; text-align: center; }
.ui-loader .ui-icon { background-color: #000; display: block; margin: 0; width: 44px; height: 44px; padding: 1px; -webkit-border-radius: 36px; -moz-border-radius: 36px; border-radius: 36px; }
.ui-loader-verbose .ui-icon { margin: 0 auto 10px; opacity: .75; }
.ui-loader-textonly { padding: 15px; margin-left: -115px;  }
.ui-loader-textonly .ui-icon { display: none; }
.ui-loader-fakefix { position: absolute; }
/*fouc*/
.ui-mobile-rendering > * { visibility: hidden; }
/*headers, content panels*/
.ui-bar, .ui-body { position: relative; padding: .4em 15px;  overflow: hidden; display: block;  clear:both;  }
.ui-bar { font-size: 16px; margin: 0; }
.ui-bar h1, .ui-bar h2, .ui-bar h3, .ui-bar h4, .ui-bar h5, .ui-bar h6 { margin: 0; padding: 0; font-size: 16px; display: inline-block; }
.ui-header, .ui-footer { position: relative; border-left-width: 0; border-right-width: 0; }
.ui-header .ui-btn-left,
.ui-header .ui-btn-right,
.ui-footer .ui-btn-left,
.ui-footer .ui-btn-right { position: absolute; top: 3px; }
.ui-header .ui-btn-left,
.ui-footer .ui-btn-left { left: 5px; }
.ui-header .ui-btn-right,
.ui-footer .ui-btn-right { right: 5px; }
.ui-footer .ui-btn-icon-notext,
.ui-header .ui-btn-icon-notext { top: 6px; }
.ui-header .ui-title, .ui-footer .ui-title { min-height: 1.1em; text-align: center; font-size: 16px; display: block; margin: .6em 30% .8em;  padding: 0;  text-overflow: ellipsis; overflow: hidden; white-space: nowrap; outline: 0 !important; }
.ui-footer .ui-title { margin: .6em 15px .8em;  }
/*content area*/
.ui-content { border-width: 0; overflow: visible; overflow-x: hidden; padding: 15px; }
/* icons sizing */
.ui-icon { width: 18px; height: 18px; }
/* non-js content hiding */
.ui-nojs { position: absolute; left: -9999px; }
/* accessible content hiding */
.ui-hide-label label,
.ui-hidden-accessible { position: absolute !important; left: -9999px; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
/* Transitions originally inspired by those from jQtouch, nice work, folks */
.ui-mobile-viewport-transitioning,
.ui-mobile-viewport-transitioning .ui-page {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.in {
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-duration: 350ms;
	-moz-animation-timing-function: ease-out;
	-moz-animation-duration: 350ms;
}
.out {
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-duration: 225ms;
	-moz-animation-timing-function: ease-in;
	-moz-animation-duration: 225;
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}
.fade.out {
	opacity: 0;
	-webkit-animation-duration: 125ms;
	-webkit-animation-name: fadeout;
	-moz-animation-duration: 125ms;
	-moz-animation-name: fadeout;
}
.fade.in {
	opacity: 1;
	-webkit-animation-duration: 225ms;
	-webkit-animation-name: fadein;
	-moz-animation-duration: 225ms;
	-moz-animation-name: fadein;
}
.pop {
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
}
.pop.in {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
    opacity: 1;
	-webkit-animation-name: popin;
	-moz-animation-name: popin;
	-webkit-animation-duration: 350ms;
	-moz-animation-duration: 350ms;
}
.pop.out {
	-webkit-animation-name: fadeout;
	-moz-animation-name: fadeout;
	opacity: 0;
	-webkit-animation-duration: 100ms;
	-moz-animation-duration: 100ms;
}
.pop.in.reverse {
	-webkit-animation-name: fadein;
	-moz-animation-name: fadein;
}
.pop.out.reverse {
	-webkit-transform: scale(.8);
	-moz-transform: scale(.8);
	-webkit-animation-name: popout;
	-moz-animation-name: popout;
}
@-webkit-keyframes popin {
    from {
        -webkit-transform: scale(.8);
        opacity: 0;
    }
    to {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}
@-moz-keyframes popin {
    from {
        -moz-transform: scale(.8);
        opacity: 0;
    }
    to {
        -moz-transform: scale(1);
        opacity: 1;
    }
}
@-webkit-keyframes popout {
    from {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    to {
        -webkit-transform: scale(.8);
        opacity: 0;
    }
}
@-moz-keyframes popout {
    from {
        -moz-transform: scale(1);
        opacity: 1;
    }
    to {
        -moz-transform: scale(.8);
        opacity: 0;
    }
}
/* keyframes for slidein from sides */
@-webkit-keyframes slideinfromright {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(0); }
}
@-moz-keyframes slideinfromright {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideinfromleft {
    from { -webkit-transform: translateX(-100%); }
    to { -webkit-transform: translateX(0); }
}
@-moz-keyframes slideinfromleft {
    from { -moz-transform: translateX(-100%); }
    to { -moz-transform: translateX(0); }
}
/* keyframes for slideout to sides */
@-webkit-keyframes slideouttoleft {
    from { -webkit-transform: translateX(0); }
    to { -webkit-transform: translateX(-100%); }
}
@-moz-keyframes slideouttoleft {
    from { -moz-transform: translateX(0); }
    to { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideouttoright {
    from { -webkit-transform: translateX(0); }
    to { -webkit-transform: translateX(100%); }
}
@-moz-keyframes slideouttoright {
    from { -moz-transform: translateX(0); }
    to { -moz-transform: translateX(100%); }
}
.slide.out, .slide.in {
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-duration: 350ms;
	-moz-animation-timing-function: ease-out;
	-moz-animation-duration: 350ms;
}
.slide.out {
	-webkit-transform: translateX(-100%);
	-webkit-animation-name: slideouttoleft;
	-moz-transform: translateX(-100%);
	-moz-animation-name: slideouttoleft;
}
.slide.in {
	-webkit-transform: translateX(0);
	-webkit-animation-name: slideinfromright;
	-moz-transform: translateX(0);
	-moz-animation-name: slideinfromright;
}
.slide.out.reverse {
	-webkit-transform: translateX(100%);
	-webkit-animation-name: slideouttoright;
	-moz-transform: translateX(100%);
	-moz-animation-name: slideouttoright;
}
.slide.in.reverse {
	-webkit-transform: translateX(0);
	-webkit-animation-name: slideinfromleft;
	-moz-transform: translateX(0);
	-moz-animation-name: slideinfromleft;
}
.slidefade.out {
	-webkit-transform: translateX(-100%);
	-webkit-animation-name: slideouttoleft;
	-moz-transform: translateX(-100%);
	-moz-animation-name: slideouttoleft;
	-webkit-animation-duration: 225ms;
	-moz-animation-duration: 225ms;
}
.slidefade.in {
	-webkit-transform: translateX(0);
	-webkit-animation-name: fadein;
	-moz-transform: translateX(0);
	-moz-animation-name: fadein;
	-webkit-animation-duration: 200ms;
	-moz-animation-duration: 200ms;
}
.slidefade.out.reverse {
	-webkit-transform: translateX(100%);
	-webkit-animation-name: slideouttoright;
	-moz-transform: translateX(100%);
	-moz-animation-name: slideouttoright;
	-webkit-animation-duration: 200ms;
	-moz-animation-duration: 200ms;
}
.slidefade.in.reverse {
	-webkit-transform: translateX(0);
	-webkit-animation-name: fadein;
	-moz-transform: translateX(0);
	-moz-animation-name: fadein;
	-webkit-animation-duration: 200ms;
	-moz-animation-duration: 200ms;
}
/* slide down */
.slidedown.out {
	-webkit-animation-name: fadeout;
	-moz-animation-name: fadeout;
	-webkit-animation-duration: 100ms;
	-moz-animation-duration: 100ms;
}
.slidedown.in {
	-webkit-transform: translateY(0);
	-webkit-animation-name: slideinfromtop;
	-moz-transform: translateY(0);
	-moz-animation-name: slideinfromtop;
	-webkit-animation-duration: 250ms;
	-moz-animation-duration: 250ms;
}
.slidedown.in.reverse {
	-webkit-animation-name: fadein;
	-moz-animation-name: fadein;
	-webkit-animation-duration: 150ms;
	-moz-animation-duration: 150ms;
}
.slidedown.out.reverse {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-webkit-animation-name: slideouttotop;
	-moz-animation-name: slideouttotop;
	-webkit-animation-duration: 200ms;
	-moz-animation-duration: 200ms;
}
@-webkit-keyframes slideinfromtop {
    from { -webkit-transform: translateY(-100%); }
    to { -webkit-transform: translateY(0); }
}
@-moz-keyframes slideinfromtop {
    from { -moz-transform: translateY(-100%); }
    to { -moz-transform: translateY(0); }
}
@-webkit-keyframes slideouttotop {
    from { -webkit-transform: translateY(0); }
    to { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes slideouttotop {
    from { -moz-transform: translateY(0); }
    to { -moz-transform: translateY(-100%); }
}
/* slide up */
.slideup.out {
	-webkit-animation-name: fadeout;
	-moz-animation-name: fadeout;
	-webkit-animation-duration: 100ms;
	-moz-animation-duration: 100ms;
}
.slideup.in {
	-webkit-transform: translateY(0);
	-webkit-animation-name: slideinfrombottom;
	-moz-transform: translateY(0);
	-moz-animation-name: slideinfrombottom;
	-webkit-animation-duration: 250ms;
	-moz-animation-duration: 250ms;
}
.slideup.in.reverse {
	-webkit-animation-name: fadein;
	-moz-animation-name: fadein;
	-webkit-animation-duration: 150ms;
	-moz-animation-duration: 150ms;
}
.slideup.out.reverse {
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-webkit-animation-name: slideouttobottom;
	-moz-animation-name: slideouttobottom;
	-webkit-animation-duration: 200ms;
	-moz-animation-duration: 200ms;
}
@-webkit-keyframes slideinfrombottom {
    from { -webkit-transform: translateY(100%); }
    to { -webkit-transform: translateY(0); }
}
@-moz-keyframes slideinfrombottom {
    from { -moz-transform: translateY(100%); }
    to { -moz-transform: translateY(0); }
}
@-webkit-keyframes slideouttobottom {
    from { -webkit-transform: translateY(0); }
    to { -webkit-transform: translateY(100%); }
}
@-moz-keyframes slideouttobottom {
    from { -moz-transform: translateY(0); }
    to { -moz-transform: translateY(100%); }
}
/* The properties in this rule are only necessary for the 'flip' transition.
 * We need specify the perspective to create a projection matrix. This will add
 * some depth as the element flips. The depth number represents the distance of
 * the viewer from the z-plane. According to the CSS3 spec, 1000 is a moderate
 * value.
 */
.viewport-flip {
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	position: absolute;
}
.flip {
	-webkit-backface-visibility:hidden;
	-webkit-transform:translateX(0); /* Needed to work around an iOS 3.1 bug that causes listview thumbs to disappear when -webkit-visibility:hidden is used. */
	-moz-backface-visibility:hidden;
	-moz-transform:translateX(0);
}
.flip.out {
	-webkit-transform: rotateY(-90deg) scale(.9);
	-webkit-animation-name: flipouttoleft;
	-webkit-animation-duration: 175ms;
	-moz-transform: rotateY(-90deg) scale(.9);
	-moz-animation-name: flipouttoleft;
	-moz-animation-duration: 175ms;
}
.flip.in {
	-webkit-animation-name: flipintoright;
	-webkit-animation-duration: 225ms;
	-moz-animation-name: flipintoright;
	-moz-animation-duration: 225ms;
}
.flip.out.reverse {
	-webkit-transform: rotateY(90deg) scale(.9);
	-webkit-animation-name: flipouttoright;
	-moz-transform: rotateY(90deg) scale(.9);
	-moz-animation-name: flipouttoright;
}
.flip.in.reverse {
	-webkit-animation-name: flipintoleft;
	-moz-animation-name: flipintoleft;
}
@-webkit-keyframes flipouttoleft {
    from { -webkit-transform: rotateY(0); }
    to { -webkit-transform: rotateY(-90deg) scale(.9); }
}
@-moz-keyframes flipouttoleft {
    from { -moz-transform: rotateY(0); }
    to { -moz-transform: rotateY(-90deg) scale(.9); }
}
@-webkit-keyframes flipouttoright {
    from { -webkit-transform: rotateY(0) ; }
    to { -webkit-transform: rotateY(90deg) scale(.9); }
}
@-moz-keyframes flipouttoright {
    from { -moz-transform: rotateY(0); }
    to { -moz-transform: rotateY(90deg) scale(.9); }
}
@-webkit-keyframes flipintoleft {
    from { -webkit-transform: rotateY(-90deg) scale(.9); }
    to { -webkit-transform: rotateY(0); }
}
@-moz-keyframes flipintoleft {
    from { -moz-transform: rotateY(-90deg) scale(.9); }
    to { -moz-transform: rotateY(0); }
}
@-webkit-keyframes flipintoright {
    from { -webkit-transform: rotateY(90deg) scale(.9); }
    to { -webkit-transform: rotateY(0); }
}
@-moz-keyframes flipintoright {
    from { -moz-transform: rotateY(90deg) scale(.9); }
    to { -moz-transform: rotateY(0); }
}
/* The properties in this rule are only necessary for the 'flip' transition.
 * We need specify the perspective to create a projection matrix. This will add
 * some depth as the element flips. The depth number represents the distance of
 * the viewer from the z-plane. According to the CSS3 spec, 1000 is a moderate
 * value.
 */
.viewport-turn {
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	position: absolute;
}
.turn {
	-webkit-backface-visibility:hidden;
	-webkit-transform:translateX(0); /* Needed to work around an iOS 3.1 bug that causes listview thumbs to disappear when -webkit-visibility:hidden is used. */
	-webkit-transform-origin: 0;
	
	-moz-backface-visibility:hidden;
	-moz-transform:translateX(0); /* Needed to work around an iOS 3.1 bug that causes listview thumbs to disappear when -webkit-visibility:hidden is used. */
	-moz-transform-origin: 0;
}
.turn.out {
	-webkit-transform: rotateY(-90deg) scale(.9);
	-webkit-animation-name: flipouttoleft;
	-moz-transform: rotateY(-90deg) scale(.9);
	-moz-animation-name: flipouttoleft;
	-webkit-animation-duration: 125ms;
	-moz-animation-duration: 125ms;
}
.turn.in {
	-webkit-animation-name: flipintoright;
	-moz-animation-name: flipintoright;
	-webkit-animation-duration: 250ms;
	-moz-animation-duration: 250ms;
	
}
.turn.out.reverse {
	-webkit-transform: rotateY(90deg) scale(.9);
	-webkit-animation-name: flipouttoright;
	-moz-transform: rotateY(90deg) scale(.9);
	-moz-animation-name: flipouttoright;
}
.turn.in.reverse {
	-webkit-animation-name: flipintoleft;
	-moz-animation-name: flipintoleft;
}
@-webkit-keyframes flipouttoleft {
    from { -webkit-transform: rotateY(0); }
    to { -webkit-transform: rotateY(-90deg) scale(.9); }
}
@-moz-keyframes flipouttoleft {
    from { -moz-transform: rotateY(0); }
    to { -moz-transform: rotateY(-90deg) scale(.9); }
}
@-webkit-keyframes flipouttoright {
    from { -webkit-transform: rotateY(0) ; }
    to { -webkit-transform: rotateY(90deg) scale(.9); }
}
@-moz-keyframes flipouttoright {
    from { -moz-transform: rotateY(0); }
    to { -moz-transform: rotateY(90deg) scale(.9); }
}
@-webkit-keyframes flipintoleft {
    from { -webkit-transform: rotateY(-90deg) scale(.9); }
    to { -webkit-transform: rotateY(0); }
}
@-moz-keyframes flipintoleft {
    from { -moz-transform: rotateY(-90deg) scale(.9); }
    to { -moz-transform: rotateY(0); }
}
@-webkit-keyframes flipintoright {
    from { -webkit-transform: rotateY(90deg) scale(.9); }
    to { -webkit-transform: rotateY(0); }
}
@-moz-keyframes flipintoright {
    from { -moz-transform: rotateY(90deg) scale(.9); }
    to { -moz-transform: rotateY(0); }
}
/* flow transition */
.flow {
	-webkit-transform-origin: 50% 30%;
	-moz-transform-origin: 50% 30%;	
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,.4);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,.4);
}
.ui-dialog.flow {
	-webkit-transform-origin: none;
	-moz-transform-origin: none;	
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
.flow.out {
	-webkit-transform: translateX(-100%) scale(.7);
	-webkit-animation-name: flowouttoleft;
	-webkit-animation-timing-function: ease;
	-webkit-animation-duration: 350ms;
	-moz-transform: translateX(-100%) scale(.7);
	-moz-animation-name: flowouttoleft;
	-moz-animation-timing-function: ease;
	-moz-animation-duration: 350ms;
}
.flow.in {
	-webkit-transform: translateX(0) scale(1);
	-webkit-animation-name: flowinfromright;
	-webkit-animation-timing-function: ease;
	-webkit-animation-duration: 350ms;
	-moz-transform: translateX(0) scale(1);
	-moz-animation-name: flowinfromright;
	-moz-animation-timing-function: ease;
	-moz-animation-duration: 350ms;
}
.flow.out.reverse {
	-webkit-transform: translateX(100%);
	-webkit-animation-name: flowouttoright;
	-moz-transform: translateX(100%);
	-moz-animation-name: flowouttoright;
}
.flow.in.reverse {
	-webkit-animation-name: flowinfromleft;
	-moz-animation-name: flowinfromleft;
}
@-webkit-keyframes flowouttoleft {
    0% { -webkit-transform: translateX(0) scale(1); }
	60%, 70% { -webkit-transform: translateX(0) scale(.7); }
    100% { -webkit-transform: translateX(-100%) scale(.7); }
}
@-moz-keyframes flowouttoleft {
    0% { -moz-transform: translateX(0) scale(1); }
	60%, 70% { -moz-transform: translateX(0) scale(.7); }
    100% { -moz-transform:  translateX(-100%) scale(.7); }
}
@-webkit-keyframes flowouttoright {
    0% { -webkit-transform: translateX(0) scale(1); }
	60%, 70% { -webkit-transform: translateX(0) scale(.7); }
    100% { -webkit-transform:  translateX(100%) scale(.7); }
}
@-moz-keyframes flowouttoright {
    0% { -moz-transform: translateX(0) scale(1); }
	60%, 70% { -moz-transform: translateX(0) scale(.7); }
    100% { -moz-transform:  translateX(100%) scale(.7); }
}
@-webkit-keyframes flowinfromleft {
    0% { -webkit-transform: translateX(-100%) scale(.7); }
	30%, 40% { -webkit-transform: translateX(0) scale(.7); }
    100% { -webkit-transform: translateX(0) scale(1); }
}
@-moz-keyframes flowinfromleft {
    0% { -moz-transform: translateX(-100%) scale(.7); }
	30%, 40% { -moz-transform: translateX(0) scale(.7); }
    100% { -moz-transform: translateX(0) scale(1); }
}
@-webkit-keyframes flowinfromright {
    0% { -webkit-transform: translateX(100%) scale(.7); }
	30%, 40% { -webkit-transform: translateX(0) scale(.7); }
    100% { -webkit-transform: translateX(0) scale(1); }
}
@-moz-keyframes flowinfromright {
    0% { -moz-transform: translateX(100%) scale(.7); }
	30%, 40% { -moz-transform: translateX(0) scale(.7); }
    100% { -moz-transform: translateX(0) scale(1); }
}
/* content configurations. */
.ui-grid-a, .ui-grid-b, .ui-grid-c, .ui-grid-d { overflow: hidden; }
.ui-block-a, .ui-block-b, .ui-block-c, .ui-block-d, .ui-block-e { margin: 0; padding: 0; border: 0; float: left; min-height:1px;}
/* grid solo: 100 - single item fallback */
.ui-grid-solo .ui-block-a { width: 100%; float: none; }
/* grid a: 50/50 */
.ui-grid-a .ui-block-a, .ui-grid-a .ui-block-b { width: 50%; }
.ui-grid-a .ui-block-a { clear: left; }
/* grid b: 33/33/33 */
.ui-grid-b .ui-block-a, .ui-grid-b .ui-block-b, .ui-grid-b .ui-block-c { width: 33.333%; }
.ui-grid-b .ui-block-a { clear: left; }
/* grid c: 25/25/25/25 */
.ui-grid-c .ui-block-a, .ui-grid-c .ui-block-b, .ui-grid-c .ui-block-c, .ui-grid-c .ui-block-d { width: 25%; }
.ui-grid-c .ui-block-a { clear: left; }
/* grid d: 20/20/20/20/20 */
.ui-grid-d .ui-block-a, .ui-grid-d .ui-block-b, .ui-grid-d .ui-block-c, .ui-grid-d .ui-block-d, .ui-grid-d .ui-block-e { width: 20%; }
.ui-grid-d .ui-block-a { clear: left; }
/* fixed page header & footer configuration */
.ui-header-fixed,
.ui-footer-fixed {
	left: 0;
	right: 0;
	width: 100%;
	position: fixed;
	z-index: 1000;
}
.ui-header-fixed {
	top: 0;
}
.ui-footer-fixed {
	bottom: 0;
}
.ui-header-fullscreen,
.ui-footer-fullscreen {
	opacity: .9;
}
.ui-page-header-fixed {
	padding-top: 2.5em;
}
.ui-page-footer-fixed {
	padding-bottom: 3em;
}
.ui-page-header-fullscreen .ui-content,
.ui-page-footer-fullscreen .ui-content {
	padding: 0;
}
.ui-fixed-hidden {
	position: absolute;
}
.ui-page-header-fullscreen .ui-fixed-hidden,
.ui-page-footer-fullscreen .ui-fixed-hidden {
	left: -99999em;
}
.ui-header-fixed .ui-btn,
.ui-footer-fixed .ui-btn { 
	z-index: 10;
}
.ui-navbar { overflow: hidden;  }
.ui-navbar ul, .ui-navbar-expanded ul { list-style:none; padding: 0; margin: 0; position: relative; display: block; border: 0;}
.ui-navbar-collapsed ul { float: left; width: 75%; margin-right: -2px; }
.ui-navbar-collapsed .ui-navbar-toggle { float: left; width: 25%; }
.ui-navbar li.ui-navbar-truncate { position: absolute; left: -9999px; top: -9999px; }
.ui-navbar li .ui-btn, .ui-navbar .ui-navbar-toggle .ui-btn { display: block; font-size: 12px; text-align: center; margin: 0; border-right-width: 0; max-width: 100%; }
.ui-navbar li .ui-btn {  margin-right: -1px; }
.ui-navbar li .ui-btn:last-child { margin-right: 0; }
.ui-header .ui-navbar li .ui-btn, .ui-header .ui-navbar .ui-navbar-toggle .ui-btn,
.ui-footer .ui-navbar li .ui-btn, .ui-footer .ui-navbar .ui-navbar-toggle .ui-btn { border-top-width: 0; border-bottom-width: 0; }
.ui-navbar .ui-btn-inner { padding-left: 2px; padding-right: 2px; }
.ui-navbar-noicons li .ui-btn .ui-btn-inner, .ui-navbar-noicons .ui-navbar-toggle .ui-btn-inner { padding-top: .8em; padding-bottom: .9em; }
/*expanded page styles*/
.ui-navbar-expanded .ui-btn { margin: 0; font-size: 14px; }
.ui-navbar-expanded .ui-btn-inner { padding-left: 5px; padding-right: 5px;  }
.ui-navbar-expanded .ui-btn-icon-top .ui-btn-inner { padding: 45px 5px 15px; text-align: center; }
.ui-navbar-expanded .ui-btn-icon-top .ui-icon { top: 15px; }
.ui-navbar-expanded .ui-btn-icon-bottom .ui-btn-inner { padding: 15px 5px 45px; text-align: center; }
.ui-navbar-expanded .ui-btn-icon-bottom .ui-icon { bottom: 15px; }
.ui-navbar-expanded li .ui-btn .ui-btn-inner { min-height: 2.5em; }
.ui-navbar-expanded .ui-navbar-noicons .ui-btn .ui-btn-inner { padding-top: 1.8em; padding-bottom: 1.9em; }
.ui-btn { display: block; text-align: center; cursor:pointer;  position: relative; margin: .5em 5px; padding: 0; }
.ui-mini { margin: .25em 5px; }
.ui-btn-inner { padding: .6em 20px; min-width: .75em; display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; position: relative; zoom: 1; }
.ui-btn input, .ui-btn button { z-index: 2; }
.ui-btn-left, .ui-btn-right, .ui-btn-inline { display: inline-block; }
.ui-btn-block { display: block; }
.ui-header .ui-btn,
.ui-footer .ui-btn { display: inline-block; margin: 0; }
.ui-header .ui-btn-inner,
.ui-footer .ui-btn-inner,
.ui-mini .ui-btn-inner { font-size: 12.5px; padding: .55em 11px .5em; }
.ui-header .ui-fullsize .ui-btn-inner,
.ui-footer .ui-fullsize .ui-btn-inner { font-size: 16px; padding: .6em 25px; }
.ui-btn-icon-notext { width: 24px; height: 24px; }
.ui-btn-icon-notext .ui-btn-inner { padding: 0; height: 100%; }
.ui-btn-icon-notext .ui-btn-inner .ui-icon { margin: 2px 1px 2px 3px; }
.ui-btn-text { position: relative; z-index: 1; width: 100%; }
.ui-btn-icon-notext .ui-btn-text { position: absolute; left: -9999px; }
.ui-btn-icon-left .ui-btn-inner { padding-left: 40px; }
.ui-btn-icon-right .ui-btn-inner { padding-right: 40px; }
.ui-btn-icon-top .ui-btn-inner { padding-top: 40px; }
.ui-btn-icon-bottom .ui-btn-inner { padding-bottom: 40px; }
.ui-header .ui-btn-icon-left .ui-btn-inner,
.ui-footer .ui-btn-icon-left .ui-btn-inner,
.ui-mini .ui-btn-icon-left .ui-btn-inner { padding-left: 30px; }
.ui-header .ui-btn-icon-right .ui-btn-inner,
.ui-footer .ui-btn-icon-right .ui-btn-inner,
.ui-mini .ui-btn-icon-right .ui-btn-inner { padding-right: 30px; }
.ui-header .ui-btn-icon-top .ui-btn-inner,
.ui-footer .ui-btn-icon-top .ui-btn-inner,
.ui-mini .ui-btn-icon-top .ui-btn-inner { padding: 30px 3px .5em 3px; }
.ui-header .ui-btn-icon-bottom .ui-btn-inner,
.ui-footer .ui-btn-icon-bottom .ui-btn-inner,
.ui-mini .ui-btn-icon-bottom .ui-btn-inner { padding: .55em 3px 30px 3px; }
/*btn icon positioning*/
.ui-btn-icon-notext .ui-icon { display: block; z-index: 0;}
.ui-btn-icon-left .ui-btn-inner .ui-icon, .ui-btn-icon-right .ui-btn-inner .ui-icon { position: absolute; top: 50%; margin-top: -9px; }
.ui-btn-icon-top .ui-btn-inner .ui-icon, .ui-btn-icon-bottom .ui-btn-inner .ui-icon { position: absolute; left: 50%;  margin-left: -9px; }
.ui-btn-icon-left .ui-icon { left: 10px; }
.ui-btn-icon-right .ui-icon { right: 10px; }
.ui-btn-icon-top .ui-icon { top: 10px; }
.ui-btn-icon-bottom .ui-icon { top: auto; bottom: 10px; }
.ui-header .ui-btn-icon-left .ui-icon,
.ui-footer .ui-btn-icon-left .ui-icon,
.ui-mini.ui-btn-icon-left .ui-icon,
.ui-mini .ui-btn-icon-left .ui-icon { left: 5px; }
.ui-header .ui-btn-icon-right .ui-icon,
.ui-footer .ui-btn-icon-right .ui-icon,
.ui-mini.ui-btn-icon-right .ui-icon,
.ui-mini .ui-btn-icon-right .ui-icon { right: 5px; }
.ui-header .ui-btn-icon-top .ui-icon,
.ui-footer .ui-btn-icon-top .ui-icon,
.ui-mini.ui-btn-icon-top .ui-icon,
.ui-mini .ui-btn-icon-top .ui-icon { top: 5px; }
.ui-header .ui-btn-icon-bottom .ui-icon,
.ui-footer .ui-btn-icon-bottom .ui-icon,
.ui-mini.ui-btn-icon-bottom .ui-icon,
.ui-mini .ui-btn-icon-bottom .ui-icon { bottom: 5px; }
/*hiding native button,inputs */
.ui-btn-hidden { position: absolute; top: 0; left: 0; width: 100%; height: 100%; -webkit-appearance: button; opacity: .1; cursor: pointer; background: #fff; background: rgba(255,255,255,0); filter: Alpha(Opacity=.0001); font-size: 1px; border: none; text-indent: -9999px; }
.ui-collapsible { margin: .5em 0; }
.ui-collapsible-heading { font-size: 16px; display: block; margin: 0 -8px; padding: 0; border-width: 0 0 1px 0; position: relative; }
.ui-collapsible-heading a { text-align: left; margin: 0;  }
.ui-collapsible-heading .ui-btn-inner,
.ui-collapsible-heading .ui-btn-icon-left .ui-btn-inner { padding-left: 40px; }
.ui-collapsible-heading .ui-btn-icon-right .ui-btn-inner { padding-left: 12px; padding-right: 40px; }
.ui-collapsible-heading .ui-btn-icon-top .ui-btn-inner,
.ui-collapsible-heading .ui-btn-icon-bottom .ui-btn-inner { padding-right: 40px; text-align: center; }
.ui-collapsible-heading a span.ui-btn { position: absolute; left: 6px; top: 50%; margin: -12px 0 0 0; width: 20px; height: 20px; padding: 1px 0px 1px 2px; text-indent: -9999px; }
.ui-collapsible-heading a span.ui-btn .ui-btn-inner { padding: 10px 0; }
.ui-collapsible-heading a span.ui-btn .ui-icon { left: 0; margin-top: -10px; }
.ui-collapsible-heading-status { position: absolute; top: -9999px; left:0px; }
.ui-collapsible-content {
	display: block;
	margin:  0 -8px;
	padding: 10px 16px;
	border-top:  none;      /* Overrides ui-btn-up-* */
	background-image: none; /* Overrides ui-btn-up-* */
	font-weight: normal;    /* Overrides ui-btn-up-* */
}
.ui-collapsible-content-collapsed { display: none; }
.ui-collapsible-set { margin: .5em 0; }
.ui-collapsible-set .ui-collapsible { margin: -1px 0 0; }
.ui-controlgroup, fieldset.ui-controlgroup { padding: 0; margin: 0em 0 .5em; zoom: 1; }
.ui-bar .ui-controlgroup { margin: 0 .3em; }
.ui-controlgroup-label { font-size: 16px; line-height: 1.4; font-weight: normal; margin: 0 0 .4em; }
.ui-controlgroup-controls { display: block; width: 100%;}
.ui-controlgroup li { list-style: none; }
.ui-controlgroup-vertical .ui-btn,
.ui-controlgroup-vertical .ui-checkbox, .ui-controlgroup-vertical .ui-radio { margin: 0; border-bottom-width: 0;  }
.ui-controlgroup-controls label.ui-select { position: absolute; left: -9999px; }
.ui-controlgroup-vertical .ui-controlgroup-last { border-bottom-width: 1px; }
.ui-controlgroup-horizontal { padding: 0; }
.ui-controlgroup-horizontal .ui-btn-inner { text-align:center; }
.ui-controlgroup-horizontal .ui-btn, .ui-controlgroup-horizontal .ui-select { display: inline-block; margin: 0 -6px 0 0; }
.ui-controlgroup-horizontal .ui-checkbox, .ui-controlgroup-horizontal .ui-radio { float: left; clear: none; margin: 0 -1px 0 0; }
.ui-controlgroup-horizontal .ui-checkbox .ui-btn, .ui-controlgroup-horizontal .ui-radio .ui-btn,
.ui-controlgroup-horizontal .ui-checkbox:last-child, .ui-controlgroup-horizontal .ui-radio:last-child { margin-right: 0; }
.ui-controlgroup-horizontal .ui-controlgroup-last { margin-right: 0; }
.ui-controlgroup .ui-checkbox label, .ui-controlgroup .ui-radio label { font-size: 16px;  }
/* conflicts with listview..
.ui-controlgroup .ui-btn-icon-notext { width: 30px; height: 30px; text-indent: -9999px; }
.ui-controlgroup .ui-btn-icon-notext .ui-btn-inner {  padding: 5px 6px 5px 5px; }
*/
@media all and (min-width: 450px){
	.ui-field-contain .ui-controlgroup-label { vertical-align: top; display: inline-block;  width: 20%;  margin: 0 2% 0 0;  }
	.ui-field-contain .ui-controlgroup-controls { width: 60%; display: inline-block; }
	.ui-field-contain .ui-controlgroup .ui-select { width: 100%; } 
	.ui-field-contain .ui-controlgroup-horizontal .ui-select { width: auto; }
}	
.ui-dialog {
	 background: none !important; /* this is to ensure that dialog theming does not apply (by default at least) on the page div */
}
.ui-dialog-contain { width: 92.5%; max-width: 500px; margin: 10% auto 15px auto; padding: 0; }
.ui-dialog .ui-header {
	margin-top: 15%;
	border: none;
	overflow: hidden;
}
.ui-dialog .ui-header, 
.ui-dialog .ui-content, 
.ui-dialog .ui-footer { 
	display: block;
	position: relative; 
	width: auto;
}
.ui-dialog .ui-header, 
.ui-dialog .ui-footer  { 
	z-index: 10; 
	padding: 0;
}
.ui-dialog .ui-footer {
	padding: 0 15px; 
}
.ui-dialog .ui-content { 
	padding: 15px; 
}
.ui-dialog { 
	margin-top: -15px;  
}
.ui-checkbox, .ui-radio { position: relative; clear: both; margin: .2em 0 .5em; z-index: 1;  }
.ui-checkbox .ui-btn, .ui-radio .ui-btn { margin: 0; text-align: left; z-index: 2; }
.ui-checkbox .ui-btn-inner, .ui-radio .ui-btn-inner { white-space: normal; }
.ui-checkbox .ui-btn-icon-left .ui-btn-inner,.ui-radio .ui-btn-icon-left .ui-btn-inner { padding-left: 45px; }
.ui-checkbox .ui-mini.ui-btn-icon-left .ui-btn-inner,.ui-radio .ui-mini.ui-btn-icon-left .ui-btn-inner { padding-left: 36px; }
.ui-checkbox .ui-btn-icon-right .ui-btn-inner, .ui-radio .ui-btn-icon-right .ui-btn-inner { padding-right: 45px; }
.ui-checkbox .ui-mini.ui-btn-icon-right .ui-btn-inner, .ui-radio .ui-mini.ui-btn-icon-right .ui-btn-inner { padding-right: 36px; }
.ui-checkbox .ui-btn-icon-top .ui-btn-inner,.ui-radio .ui-btn-icon-top .ui-btn-inner { padding-right: 0; padding-left: 0; text-align: center; }
.ui-checkbox .ui-btn-icon-bottom .ui-btn-inner, .ui-radio .ui-btn-icon-bottom .ui-btn-inner { padding-right: 0; padding-left: 0; text-align: center; }
.ui-checkbox .ui-icon, .ui-radio .ui-icon { top: 1.1em; }
.ui-checkbox .ui-btn-icon-left .ui-icon, .ui-radio .ui-btn-icon-left .ui-icon { left: 15px; }
.ui-checkbox .ui-mini.ui-btn-icon-left .ui-icon, .ui-radio .ui-mini.ui-btn-icon-left .ui-icon { left: 9px; }
.ui-checkbox .ui-btn-icon-right .ui-icon, .ui-radio .ui-btn-icon-right .ui-icon { right: 15px; }
.ui-checkbox .ui-mini.ui-btn-icon-right .ui-icon, .ui-radio .ui-mini.ui-btn-icon-right .ui-icon { right: 9px; }
.ui-checkbox .ui-btn-icon-top .ui-icon, .ui-radio .ui-btn-icon-top .ui-icon { top: 10px; }
.ui-checkbox .ui-btn-icon-bottom .ui-icon, .ui-radio .ui-btn-icon-bottom .ui-icon { top: auto; bottom: 10px; }
.ui-checkbox .ui-btn-icon-right .ui-icon, .ui-radio .ui-btn-icon-right .ui-icon { right: 15px; }
.ui-checkbox .ui-mini.ui-btn-icon-right .ui-icon, .ui-radio .ui-mini.ui-btn-icon-right .ui-icon { right: 9px; }
/* input, label positioning */
.ui-checkbox input,.ui-radio input { position:absolute; left:20px; top:50%; width: 10px; height: 10px;  margin:-5px 0 0 0; outline: 0 !important; z-index: 1; }
.ui-field-contain, fieldset.ui-field-contain { padding: .8em 0; margin: 0; border-width: 0 0 1px 0; overflow: visible; }
.ui-field-contain:first-child { border-top-width: 0; }
.ui-header .ui-field-contain-left,
.ui-header .ui-field-contain-right {
	position: absolute;
	top: 0;
	width: 25%;
}
.ui-header .ui-field-contain-left {
	left: 1em;
}
.ui-header .ui-field-contain-right {
	right: 1em;
}
@media all and (min-width: 450px){
	.ui-field-contain, .ui-mobile fieldset.ui-field-contain { border-width: 0; padding: 0; margin: 1em 0; }
}
.ui-select { display: block; position: relative; }
.ui-select select { position: absolute; left: -9999px; top: -9999px; }
.ui-select .ui-btn { overflow: hidden; opacity: 1; margin: 0; }
/* Fixes #2588 â€” When Windows Phone 7.5 (Mango) tries to calculate a numeric opacity for a selectâ€”including â€œinheritâ€â€”without explicitly specifying an opacity on the parent to give it context, a bug appears where clicking elsewhere on the page after opening the select will open the select again. */
.ui-select .ui-btn select { cursor: pointer; -webkit-appearance: button; left: 0; top:0; width: 100%;  min-height: 1.5em; min-height: 100%; height: 3em; max-height: 100%; opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); z-index: 2; }
.ui-select .ui-disabled { opacity: .3; }
@-moz-document url-prefix() {.ui-select .ui-btn select { opacity: 0.0001; }}
.ui-select .ui-btn select.ui-select-nativeonly { opacity: 1; text-indent: 0; }
.ui-select .ui-btn-icon-right .ui-btn-inner { padding-right: 45px; } 
.ui-select .ui-btn-icon-right .ui-icon { right: 15px;  }
.ui-select .ui-mini.ui-btn-icon-right .ui-icon { right: 7px;  }
/* labels */
label.ui-select { font-size: 16px; line-height: 1.4;  font-weight: normal; margin: 0 0 .3em; display: block; }
/*listbox*/
.ui-select .ui-btn-text, .ui-selectmenu .ui-btn-text { display: block; min-height: 1em; overflow: hidden !important;
/* This !important is required for iPad Safari specifically. See https://github.com/jquery/jquery-mobile/issues/2647 */ }
.ui-select .ui-btn-text { text-overflow: ellipsis; }
.ui-selectmenu { position: absolute; padding: 0; z-index: 1100 !important; width: 80%; max-width: 350px; padding: 6px; }
.ui-selectmenu .ui-listview { margin: 0; }
.ui-selectmenu .ui-btn.ui-li-divider { cursor: default; }
.ui-selectmenu-hidden { top: -9999px; left: -9999px; }
.ui-selectmenu-screen { position: absolute; top: 0; left: 0; width: 100%; height: 100%;  z-index: 99; }
.ui-screen-hidden, .ui-selectmenu-list .ui-li .ui-icon { display: none; }
.ui-selectmenu-list .ui-li .ui-icon { display: block; }
.ui-li.ui-selectmenu-placeholder { display: none; }
.ui-selectmenu .ui-header .ui-title { margin: 0.6em 46px 0.8em; }
@media all and (min-width: 450px){	
	.ui-field-contain label.ui-select { vertical-align: top;  display: inline-block;  width: 20%;  margin: 0 2% 0 0; }
	.ui-field-contain .ui-select { width: 60%; display: inline-block; }
}	
/* when no placeholder is defined in a multiple select, the header height doesn't even extend past the close button.  this shim's content in there */
.ui-selectmenu .ui-header h1:after { content: '.'; visibility: hidden; }
label.ui-input-text { font-size: 16px; line-height: 1.4; display: block; font-weight: normal; margin: 0 0 .3em; }
input.ui-input-text, textarea.ui-input-text { background-image: none; padding: .4em; line-height: 1.4; font-size: 16px; display: block; width: 97%; outline: 0; }
.ui-header input.ui-input-text,
.ui-footer input.ui-input-text { margin-left: 1.25%; padding: .4em 1%; width: 95.5% } /* Note that padding left/right on text inputs is factored into how the element is displayed in Firefox, but does not actually pad the text inside it. */
 input.ui-input-text { -webkit-appearance: none; }
textarea.ui-input-text { height: 50px; -webkit-transition: height 200ms linear; -moz-transition: height 200ms linear; -o-transition: height 200ms linear; transition: height 200ms linear; }
.ui-input-search { padding: 0 30px; background-image: none; position: relative; }
.ui-icon-searchfield:after { position: absolute; left: 7px; top: 50%; margin-top: -9px; content: ""; width: 18px; height: 18px; opacity: .5; }
.ui-input-search input.ui-input-text { border: none; width: 98%; padding: .4em 0; margin: 0; display: block; background: transparent none; outline: 0 !important; }
.ui-input-search .ui-input-clear { position: absolute; right: 0; top: 50%; margin-top: -13px; }
.ui-mini .ui-input-clear { right: -3px; }
.ui-input-search .ui-input-clear-hidden { display: none; }
input.ui-mini, .ui-mini input, textarea.ui-mini { font-size: 14px; }
textarea.ui-mini { height: 45px; }
/* orientation adjustments - incomplete!*/
@media all and (min-width: 450px){
	.ui-field-contain label.ui-input-text  { vertical-align: top; display: inline-block;  width: 20%;  margin: 0 2% 0 0 }
	.ui-field-contain input.ui-input-text, 
	.ui-field-contain textarea.ui-input-text, 
	.ui-field-contain .ui-input-search { width: 60%; display: inline-block; } 
	.ui-field-contain .ui-input-search { width: 50%; }
	.ui-hide-label input.ui-input-text, 
	.ui-hide-label textarea.ui-input-text, 
	.ui-hide-label .ui-input-search { padding: .4em; width: 97%; } 
	.ui-input-search input.ui-input-text { width: 98%; /*echos rule from above*/ }
}
.ui-listview { margin: 0; counter-reset: listnumbering; }
.ui-content .ui-listview { margin: -15px; }
.ui-content .ui-listview-inset { margin: 1em 0;  }
.ui-listview, .ui-li { list-style:none; padding:0; }
.ui-li, .ui-li.ui-field-contain { display: block; margin:0; position: relative; overflow: visible; text-align: left; border-width: 0; border-top-width: 1px; }
.ui-li .ui-btn-text a.ui-link-inherit { text-overflow: ellipsis; overflow: hidden; white-space: nowrap;  }
.ui-li-divider, .ui-li-static { padding: .5em 15px; font-size: 14px; font-weight: bold;  }
.ui-li-divider { counter-reset: listnumbering;  }
ol.ui-listview .ui-link-inherit:before, ol.ui-listview .ui-li-static:before, .ui-li-dec { font-size: .8em; display: inline-block; padding-right: .3em; font-weight: normal;counter-increment: listnumbering; content: counter(listnumbering) ". "; }
ol.ui-listview .ui-li-jsnumbering:before { content: "" !important; } /* to avoid chance of duplication */
.ui-listview-inset .ui-li { border-right-width: 1px; border-left-width: 1px; }
.ui-li:last-child, .ui-li.ui-field-contain:last-child { border-bottom-width: 1px; }
.ui-li>.ui-btn-inner { display: block; position: relative; padding: 0; }
.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li { padding: .7em 15px .7em 15px; display: block; }
.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-thumb  { min-height: 60px; padding-left: 100px; }
.ui-li-has-icon .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-icon {  min-height: 20px; padding-left: 40px; }
.ui-li-has-count .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-count { padding-right: 45px; }
.ui-li-has-arrow .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-arrow { padding-right: 30px; }
.ui-li-has-arrow.ui-li-has-count .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-arrow.ui-li-has-count { padding-right: 75px; }
.ui-li-has-count .ui-btn-text { padding-right: 15px; }
.ui-li-heading { font-size: 16px; font-weight: bold; display: block; margin: .6em 0; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;  }
.ui-li-desc {  font-size: 12px; font-weight: normal; display: block; margin: -.5em 0 .6em; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.ui-li-thumb, .ui-listview .ui-li-icon { position: absolute; left: 1px; top: 0; max-height: 80px; max-width: 80px; }
.ui-listview .ui-li-icon { max-height: 40px; max-width: 40px; left: 10px; top: .9em; }
.ui-li-thumb, .ui-listview .ui-li-icon, .ui-li-content { float: left; margin-right: 10px; }
.ui-li-aside { float: right; width: 50%; text-align: right; margin: .3em 0; }
@media all and (min-width: 480px){
	 .ui-li-aside { width: 45%; }
}	 
.ui-li-divider { cursor: default; }
.ui-li-has-alt .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-alt { padding-right: 95px; }
.ui-li-has-count .ui-li-count { position: absolute; font-size: 11px; font-weight: bold; padding: .2em .5em; top: 50%; margin-top: -.9em; right: 48px; }
.ui-li-divider .ui-li-count, .ui-li-static .ui-li-count { right: 10px; }
.ui-li-has-alt .ui-li-count { right: 55px; }
.ui-li-link-alt { position: absolute; width: 40px; height: 100%; border-width: 0; border-left-width: 1px; top: 0; right: 0; margin: 0; padding: 0; z-index: 2; }
.ui-li-link-alt .ui-btn { overflow: hidden; position: absolute; right: 8px; top: 50%; margin: -11px 0 0 0; border-bottom-width: 1px; z-index: -1;}
.ui-li-link-alt .ui-btn-inner { padding: 0; height: 100%; position: absolute; width: 100%; top: 0; left: 0;}
.ui-li-link-alt .ui-btn .ui-icon { right: 50%; margin-right: -9px;  }
.ui-listview * .ui-btn-inner > .ui-btn > .ui-btn-inner { border-top: 0px; }
.ui-listview-filter { border-width: 0; overflow: hidden; margin: -15px -15px 15px -15px }
.ui-listview-filter .ui-input-search { margin: 5px; width: auto; display: block; }
.ui-listview-filter-inset { margin: -15px -5px -15px -5px; background: transparent; }
.ui-li.ui-screen-hidden{display:none;}
/* Odd iPad positioning issue. */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .ui-li .ui-btn-text { overflow:  visible; }
}
label.ui-slider { font-size: 16px; line-height: 1.4;  font-weight: normal; margin: 0 0 .3em; display: block; }
input.ui-slider-input,
.ui-field-contain input.ui-slider-input { display: inline-block; width: 50px; }
select.ui-slider-switch { display: none; }
div.ui-slider { position: relative; display: inline-block; overflow: visible; height: 15px; padding: 0; margin: 0 2% 0 20px; top: 4px; width: 65%; }
div.ui-slider-mini { height: 12px; margin-left: 10px; }
div.ui-slider-bg { border: none; height: 100%; padding-right: 8px; }
.ui-controlgroup a.ui-slider-handle, a.ui-slider-handle { position: absolute; z-index: 1;  top: 50%; width: 28px; height: 28px; margin-top: -15px; margin-left: -15px; outline: 0; }
a.ui-slider-handle .ui-btn-inner { padding: 0; height: 100%; }
div.ui-slider-mini a.ui-slider-handle { height: 14px; width: 14px; margin: -8px 0 0 -7px; }
div.ui-slider-mini a.ui-slider-handle .ui-btn-inner { height: 30px; width: 30px; padding: 0; margin: -9px 0 0 -9px; }
@media all and (min-width: 450px){
	.ui-field-contain label.ui-slider { vertical-align: top; display: inline-block; width: 20%; margin: 0 2% 0 0; }
	.ui-field-contain div.ui-slider { width: 43%; }
	.ui-field-contain div.ui-slider-switch { width: 5.5em; }
}	
div.ui-slider-switch { height: 32px; margin-left: 0; width: 5.8em; }
a.ui-slider-handle-snapping { -webkit-transition: left 70ms linear; -moz-transition: left 70ms linear; }
div.ui-slider-switch .ui-slider-handle {  margin-top: 1px;  }
.ui-slider-inneroffset { margin: 0 16px; position: relative; z-index: 1; }
div.ui-slider-switch.ui-slider-mini { width: 5em; height: 29px; }
div.ui-slider-switch.ui-slider-mini .ui-slider-inneroffset { margin: 0 15px 0 14px; }
div.ui-slider-switch.ui-slider-mini .ui-slider-handle { width: 25px; height: 25px; margin: 1px 0 0 -13px; }
div.ui-slider-switch.ui-slider-mini a.ui-slider-handle .ui-btn-inner { height: 30px; width: 30px; padding: 0; margin: 0; }
span.ui-slider-label { position: absolute; text-align: center; width: 100%; overflow: hidden; font-size: 16px; top: 0; line-height: 2; min-height: 100%; border-width: 0; white-space: nowrap; }
.ui-slider-mini span.ui-slider-label { font-size: 14px; }
span.ui-slider-label-a { z-index: 1; left: 0; text-indent: -1.5em; }
span.ui-slider-label-b { z-index: 0; right: 0; text-indent: 1.5em;}
.ui-slider-inline { width: 120px; display: inline-block; }




/* =============================================================================
   -------------------------[	THEME STYLES BELOW	  ]-------------------------
   =============================================================================
   =============================================================================
   =============================================================================
   =============================================================================
   ========================================================================== */
   
/* =============================================================================
   Custom content styling
   ========================================================================== */

h3.home-title {
	margin-top:40px; 
	text-align:center; 
	font-weight:normal;
	margin:10px 0 10px 0;
	
	/* font-family: 'Kaushan Script', cursive; font-size:26px; */
	/* font-family: 'Lobster', cursive; font-size:28px; */
	/* font-family: 'Cabin', sans-serif; font-weight: 700; font-size:22px; */
 	/* font-family: 'Cardo', serif; font-size:24px; */
 	font-family: 'Droid Sans', sans-serif; font-size:22px; font-weight:700  
}

.padd {
	padding: 20px 0
}

.gal-description {
	font-size:11px; 
	color: #eee
}

.padd-title {
	padding-left:15px;
	margin-bottom:3px
}

hr.ornamental { background:url(../images/ornamental.png) center no-repeat; background-size:960px 21px; height:21px; width:100%; border:none; margin:0; padding:0 }

.shadow1box {text-align:center; margin:0; height:28px}
.shadow1 {width:100%; height:28px; margin:0}

.shadow2box {margin:0}
.shadow2 {width:100%}
   


/* =============================================================================
   UI Bars (add to a div surrounding content, like a callout box)
   ========================================================================== */
   

.ui-bar-c {
	border: 1px solid  #B3B3B3;
	background:  #e9eaeb;
	color:  #111;
	font-weight: bold;
	text-shadow:  0  1px 1px #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(  #f0f0f0  /*{background-start}*/), to(  #e9eaeb  /*{background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(  #f0f0f0  /*{background-start}*/,  #e9eaeb  /*{background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(  #f0f0f0  /*{background-start}*/,  #e9eaeb  /*{background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(  #f0f0f0  /*{background-start}*/,  #e9eaeb  /*{background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(  #f0f0f0  /*{background-start}*/,  #e9eaeb  /*{background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(  #f0f0f0  /*{background-start}*/,  #e9eaeb  /*{background-end}*/);
}

.ui-bar-c .ui-link-inherit {
	color:  	#3E3E3E;
}
.ui-bar-c .ui-link {
	color:  #7cc4e7;
	font-weight: bold;
}

.ui-bar-c .ui-link:hover {
	color:  #2489CE;
}

.ui-bar-c .ui-link:active {
	color:  #2489CE;
}

.ui-bar-c .ui-link:visited {
    color:  #2489CE;
}

.ui-bar-c,
.ui-bar-c input,
.ui-bar-c select,
.ui-bar-c textarea,
.ui-bar-c button {
	 font-family: Helvetica, Arial, sans-serif;
}

/* =============================================================================
   Dialog (Modal Windows)
   ========================================================================== */
   
.ui-dialog {
	background:url(../images/pattern2.png) #222 !important;
	background-size: 20px 20px !important;
}

.ui-dialog .ui-dialog-contain { 
	margin-top: 0 !important
}



/* =============================================================================
   Set your main background image & text styles
   ========================================================================== */
   

.ui-body-c,
.ui-dialog.ui-overlay-c {
	border: 1px solid #B3B3B3;
	/* background:url(../images/page-backgrounds/diagonal-noise.jpg) 0 0; background-size: 100px 100px; */
	/* background:url(../images/page-backgrounds/zebra.jpg) 0 0; background-size: 121px 38px; */
	/* background:url(../images/page-backgrounds/paper.jpg) 0 0; background-size: 500px 593px;  */
	/* background:url(../images/page-backgrounds/farmer.jpg) 0 0; background-size: 349px 349px; */
	 /* background:url(../images/page-backgrounds/blue-stripes.jpg) 0 0; background-size: 100px 100px; */
	 background:url(../images/page-backgrounds/texture.jpg) 0 0; background-size: 476px 476px; 
	/* background:url(../images/page-backgrounds/white-brick-wall.jpg) 0 0; background-size: 25px 17px; */
	/* background:url(../images/page-backgrounds/grilled.jpg) 0 0; background-size: 170px 180px;  */
	/* background:url(../images/page-backgrounds/wood.jpg) 0 0; background-size: 203px 317px; */
	color: #111;
	text-shadow: 0 1px 0 #fff;
}

.ui-body-c,
.ui-body-c input,
.ui-body-c select,
.ui-body-c textarea,
.ui-body-c button {
	
	/* font-family: Helvetica, Arial, sans-serif; */
 	/* font-family: 'Cabin', sans-serif; */
	/* font-family: 'Goudy Bookletter 1911', serif; */
 	/* font-family: 'Crimson Text', serif; */
 	 /* font-family: 'Cardo', serif; */
	  font-family: 'Droid Sans', sans-serif; 
}


/* =============================================================================
   Body Links
   ========================================================================== */

.ui-body-c .ui-link-inherit {
	color:  #3a7591;
}

.ui-body-c .ui-link {
	color:  #3a7591;
	font-weight: bold;
}

.ui-body-c .ui-link:hover {
	color:  #3a7591;
}

.ui-body-c .ui-link:active {
	color:  #3a7591;
}

.ui-body-c .ui-link:visited {
    color:  #3a7591;
}


/* =============================================================================
   Button Styles
   ========================================================================== */

.ui-btn-up-c {
	border: 1px solid #111;
	background: #0A202B;
	font-weight: bold;
	color: #fff;
	text-shadow:  0 1px 1px #111;
}

.ui-btn-up-c a.ui-link-inherit {
	color: #fff;
}

.ui-btn-hover-c {
	border: 1px solid #000;
	background: #0C2430;
	font-weight: bold;
	color: #fcd144;
	text-shadow:  0 1px 1px #000;
}

.ui-btn-hover-c a.ui-link-inherit {
	color: #fff;
}

.ui-btn-down-c {
	border: 1px solid  #000;
	background: #071a23;
	font-weight: bold;
	color:  #fcd144;
	text-shadow:  0 1px 1px #000;
}

.ui-btn-down-c a.ui-link-inherit {
	color:  #fff;
}

.ui-btn-up-c,
.ui-btn-hover-c,
.ui-btn-down-c { 
	text-decoration: none;
}

.ui-btn-inner {
    border-color: rgba(255, 255, 255, 0.3);
    border-top: 1px solid #1a3d4f;
}


/* Active class used as the "on" state across all themes, example: newsletter button on form */

.ui-btn-active {
	border: 1px solid #111;
	background: #071a23;
	font-weight: bold;
	color:#fcd144;
	cursor: pointer;
	text-shadow:  0 1px 1px #000;
	text-decoration: none;
}

.ui-btn-active a.ui-link-inherit {
	color: 	#fff;
}


/* =============================================================================
   Interior Banner Styles
   ========================================================================== */

.bannerContainer { 
	width:100%; 
	background:#111;    
}

.banner {
	max-width: 100%; 
	display: block; 
	max-height:295px; 
	margin:0 auto;
}


/* =============================================================================
   Page Title under Banner Image
   ========================================================================== */

h2.pageTitle { 
	text-transform:uppercase; 
	background:url(../images/pattern.png) #0A202B; background-size: 5px 5px;
	border-bottom:1px solid #aaa;
	color:#fcd144; 
	width:100%; 
	margin:0;
	padding:0;
	font-family: 'Kaushan Script', cursive; 
	text-shadow: 0 1px 0 #fff; 
	font-weight:normal; 
}

h2.pageTitle span { 
	display:block; 
	padding:8px 0 5px 15px
}


/* =============================================================================
   Header Bar (behind logo) & Logo
   ========================================================================== */

.page-header { 
	border:0px;
	border-bottom:1px solid #bfc0c0; 
	color:#eee; 
	height:40px; 
	text-shadow: 0 -1px 1px #000; 
	background:url(../images/pattern.png) #111; background-size: 5px 5px;
} 

.logo { 
	width:231px; 
	height:40px; 
	background:url(../images/logo.png) top center no-repeat;  
	margin:0 auto; 
	background-size: 185px 40px;  
}

h1.ui-title { 
	margin:0px; 
	padding:10px 0 0 0
}


/* =============================================================================
   Link Bars with Large Arrows
   ========================================================================== */

li .ui-btn-text {background:url(../images/pattern2.png) #0A202B; background-size: 20px 20px;}

a.ui-link-inherit {
	background:url(../images/arrow.png) right no-repeat; 
	background-size: 25px 30px;
	
	font-family: 'Kaushan Script', cursive; font-size:18px; 
	/* font-family: 'Lobster', cursive; font-size:18px; */
	/* font-family: 'Cabin', sans-serif; font-weight: 700; font-size:18px; */
	/* font-family: 'Droid Serif', serif; font-weight:700; font-style:italic; font-size:17px; */
	
	color:#eee !important;
	text-shadow: 0 -1px 1px #000;
}
	
a.ui-link-inherit:hover {
	background:url(../images/arrow.png) right no-repeat #0C2430;
	color:#fcd144 !important; 
}

.events-list span.ui-icon, .thumbnail-list span.ui-icon {display:none}



/* =============================================================================
   Overwrite jQuery Mobile Styles
   ========================================================================== */
   
.ui-header .ui-title, .ui-footer .ui-title {
	margin: 0.8em 90px;
}

.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
    padding: .8em 15px;
}

.ui-content {
	padding-top:0px
}

.page-header .ui-icon {
	text-indent:-9999px !important
}

.gallery-page h1.ui-title {
    margin: 0px;
    padding: 0px;
	position:relative;
	top:13px
}

.ui-btn-icon-notext .ui-btn-inner { z-index:9999 }

/* =============================================================================
   List Styles
   ========================================================================== */

/* thumbail lists */
.events-list  ul.ui-listview li, .thumbnail-list ul.ui-listview li {
	margin:0; 
	padding:0; 
	border-bottom:0px; 	
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.thumbnail-list a.ui-link-inherit, 
.events-list ul.ui-listview a.ui-link-inherit {
    color: #fff;
}

.thumbnail-list a.ui-link-inherit:hover, .events-list ul.ui-listview a.ui-link-inherit:hover {
    color: #2489CE;
}
	
.thumbnail-list ul.ui-listview li a.ui-link-inherit { 
	padding-left: 100px; 
}

.thumbnail-list ul.ui-listview .ui-btn-inner { 
	margin:0; 
	padding:0;  
	border-bottom:0px 
}

.thumbnail-list li.ui-corner-bottom {
	padding-bottom:1px !important
}

.ui-li-thumb {
    left: 4px;
    max-height: 80px;
    max-width: 80px;
    position: absolute;
    top: 4px;
	border:0px;	
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.events-list .ui-li-aside {
    float: right;
    margin: 0.3em 0;
    text-align: right;
    width: 22%;
}

.ui-li-aside {
    margin: 0 2em;
}

.events-list .ui-li {
	padding:0; 
	margin:0
}

li.ui-li-divider { 
	padding: 0.5em 15px !important 
}


/* list divider, create your own gradient: http://www.colorzilla.com/gradient-editor/ */
li.ui-li-divider {
	color: #111;
    text-shadow: 0 1px 0 #999;	
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
	background: linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
}


/* =============================================================================
   Footer Navigation
   ========================================================================== */

.ui-btn-up-b { 
	border: 1px solid #333;
	background:url(../images/pattern.png) #111; background-size: 5px 5px;
	font-weight: bold;
	color: 	#EDE574;
	text-shadow: 0 -1px 1px #000;
}

.ui-btn-up-b a.ui-link-inherit {
	color: 	#fff;
}

.ui-btn-hover-b {
	border: 1px solid #000;
	background: #0C2430;
	font-weight: bold;
	color: 	#fff;
	text-shadow: 0  -1px 1px  #014D68;	
}

.ui-btn-hover-b a.ui-link-inherit {
	color: 	#fff;
}

.ui-btn-down-b {
	border: 1px solid #333;
	background: #071a23;
	font-weight: bold;
	color: 	#fff;
	text-shadow: 0 -1px 1px #225377;
}

.ui-btn-down-b a.ui-link-inherit {
	color: 	#fff;
}

.ui-btn-up-b,
.ui-btn-hover-b,
.ui-btn-down-b {
	
	/* font-family: Helvetica, Arial, sans-serif; */
 	/* font-family: 'Cabin', sans-serif;  
	/* font-family: 'Goudy Bookletter 1911', serif; */
 	/* font-family: 'Crimson Text', serif; */
 	/*  font-family: 'Cardo', serif; */
	 font-family: 'Droid Sans', sans-serif; 
	 
	text-decoration: none;
}

.ui-footer .ui-btn-text { background:none }


/* =============================================================================
   Footer Nav Icons --[ Recommend to delete CSS for icons you don't use ]--
   ========================================================================== */

.custom-icons .ui-btn .ui-btn-inner { 
	padding-top: 40px !important; 
}

.custom-icons .ui-btn .ui-icon { 
	width: 30px!important; 
	height: 30px!important; 
	margin-left: -15px !important; 
	box-shadow: none!important; 
	-moz-box-shadow: none!important; 
	-webkit-box-shadow: none!important; 
	-webkit-border-radius: 0 !important; 
	border-radius: 0 !important; 
}

#address-book .ui-icon { background:url(../images/nav-icons/address-book.png) 50% 50% no-repeat;  background-size: 24px 28px; }
#apartments .ui-icon { background:url(../images/nav-icons/apartments.png) 50% 50% no-repeat;  background-size: 27px 30px; }
#balloons .ui-icon { background:url(../images/nav-icons/balloons.png) 50% 50% no-repeat;  background-size: 22px 30px; }
#brush .ui-icon { background:url(../images/nav-icons/brush.png) 50% 50% no-repeat;  background-size: 30px 28px; }
#brush2 .ui-icon { background:url(../images/nav-icons/brush2.png) 50% 50% no-repeat;  background-size: 27px 28px; }
#calendar .ui-icon { background:url(../images/nav-icons/calendar.png) 50% 50% no-repeat;  background-size: 30px 26px; }
#calendar2 .ui-icon { background:url(../images/nav-icons/calendar2.png) 50% 50% no-repeat;  background-size: 28px 29px; }
#camera .ui-icon { background:url(../images/nav-icons/camera.png) 50% 50% no-repeat;  background-size: 29px 22px; }
#car .ui-icon { background:url(../images/nav-icons/car.png) 50% 50% no-repeat;  background-size: 30px 16px; }
#cell .ui-icon { background:url(../images/nav-icons/cell.png) 50% 50% no-repeat;  background-size: 18px 30px; }
#cell2 .ui-icon { background:url(../images/nav-icons/cell2.png) 50% 50% no-repeat;  background-size: 17px 30px; }
#cell3 .ui-icon { background:url(../images/nav-icons/cell3.png) 50% 50% no-repeat;  background-size: 15px 30px; }
#chair .ui-icon { background:url(../images/nav-icons/chair.png) 50% 50% no-repeat;  background-size: 20px 27px; }
#chat .ui-icon { background:url(../images/nav-icons/chat.png) 50% 50% no-repeat;  background-size: 28px 21px; }
#chat2 .ui-icon { background:url(../images/nav-icons/chat2.png) 50% 50% no-repeat;  background-size: 27px 25px; }
#closed .ui-icon { background:url(../images/nav-icons/closed.png) 50% 50% no-repeat;  background-size: 27px 25px; }
#dribble .ui-icon { background:url(../images/nav-icons/dribble.png) 50% 50% no-repeat;  background-size: 28px 29px; }
#eye .ui-icon { background:url(../images/nav-icons/eye.png) 50% 50% no-repeat;  background-size: 30px 18px; }
#facebook .ui-icon { background:url(../images/nav-icons/facebook.png) 50% 50% no-repeat;  background-size: 26px 27px; }
#film .ui-icon { background:url(../images/nav-icons/film.png) 50% 50% no-repeat;  background-size: 23px 26px; }
#flag .ui-icon { background:url(../images/nav-icons/flag.png) 50% 50% no-repeat;  background-size: 23px 27px; }
#footprint .ui-icon { background:url(../images/nav-icons/footprint.png) 50% 50% no-repeat;  background-size: 13px 30px; }
#footprints .ui-icon { background:url(../images/nav-icons/footprints.png) 50% 50% no-repeat;  background-size: 27px 30px; }
#globe .ui-icon { background:url(../images/nav-icons/globe.png) 50% 50% no-repeat;  background-size: 28px 28px; }
#home .ui-icon { background:url(../images/nav-icons/home.png) 50% 50% no-repeat;  background-size: 27px 25px; }
#home2 .ui-icon { background:url(../images/nav-icons/home2.png) 50% 50% no-repeat;  background-size: 29px 26px; }
#icecream .ui-icon { background:url(../images/nav-icons/icecream.png) 50% 50% no-repeat;  background-size: 18px 27px; }
#key .ui-icon { background:url(../images/nav-icons/key.png) 50% 50% no-repeat;  background-size: 15px 30px; }
#like .ui-icon { background:url(../images/nav-icons/like.png) 50% 50% no-repeat;  background-size: 25px 23px; }
#mail .ui-icon { background:url(../images/nav-icons/mail.png) 50% 50% no-repeat;  background-size: 27px 18px; }
#mail2 .ui-icon { background:url(../images/nav-icons/mail2.png) 50% 50% no-repeat;  background-size: 27px 19px; }
#map-marker .ui-icon { background:url(../images/nav-icons/map-marker.png) 50% 50% no-repeat;  background-size: 19px 26px; }
#map .ui-icon { background:url(../images/nav-icons/map.png) 50% 50% no-repeat;  background-size: 30px 22px; }
#monitor .ui-icon { background:url(../images/nav-icons/monitor.png) 50% 50% no-repeat;  background-size: 29px 29px; }
#mouse .ui-icon { background:url(../images/nav-icons/mouse.png) 50% 50% no-repeat;  background-size: 18px 27px; }
#movie-camera .ui-icon { background:url(../images/nav-icons/movie-camera.png) 50% 50% no-repeat;  background-size: 30px 23px; }
#movie .ui-icon { background:url(../images/nav-icons/movie.png) 50% 50% no-repeat;  background-size: 24px 30px; }
#music .ui-icon { background:url(../images/nav-icons/music.png) 50% 50% no-repeat;  background-size: 17px 30px; }
#paint-brush .ui-icon { background:url(../images/nav-icons/paint-brush.png) 50% 50% no-repeat;  background-size: 30px 29px; }
#pen .ui-icon { background:url(../images/nav-icons/pen.png) 50% 50% no-repeat;  background-size: 27px 27px; }
#pencil .ui-icon { background:url(../images/nav-icons/pencil.png) 50% 50% no-repeat;  background-size: 26px 26px; }
#phone .ui-icon { background:url(../images/nav-icons/phone.png) 50% 50% no-repeat;  background-size: 29px 30px; }
#phone2 .ui-icon { background:url(../images/nav-icons/phone2.png) 50% 50% no-repeat;  background-size: 30px 25px; }
#phone3 .ui-icon { background:url(../images/nav-icons/phone3.png) 50% 50% no-repeat;  background-size: 30px 21px; }
#photos .ui-icon { background:url(../images/nav-icons/photos.png) 50% 50% no-repeat;  background-size: 30px 24px; }
#photos2 .ui-icon { background:url(../images/nav-icons/photos2.png) 50% 50% no-repeat;  background-size: 30px 23px; }
#plane .ui-icon { background:url(../images/nav-icons/plane.png) 50% 50% no-repeat;  background-size: 30px 29px; }
#plate .ui-icon { background:url(../images/nav-icons/plate.png) 50% 50% no-repeat;  background-size: 30px 20px; }
#popsicle .ui-icon { background:url(../images/nav-icons/popsicle.png) 50% 50% no-repeat;  background-size: 15px 30px; }
#presentation .ui-icon { background:url(../images/nav-icons/presentation.png) 50% 50% no-repeat;  background-size: 29px 30px; }
#rss .ui-icon { background:url(../images/nav-icons/rss.png) 50% 50% no-repeat;  background-size: 29px 30px; }
#run .ui-icon { background:url(../images/nav-icons/run.png) 50% 50% no-repeat;  background-size: 25px 30px; }
#search .ui-icon { background:url(../images/nav-icons/search.png) 50% 50% no-repeat;  background-size: 28px 30px; }
#sign .ui-icon { background:url(../images/nav-icons/sign.png) 50% 50% no-repeat;  background-size: 30px 30px; }
#table .ui-icon { background:url(../images/nav-icons/table.png) 50% 50% no-repeat;  background-size: 24px 25px; }
#twitter .ui-icon { background:url(../images/nav-icons/twitter.png) 50% 50% no-repeat;  background-size: 30px 23px; }
#twitter2 .ui-icon { background:url(../images/nav-icons/twitter2.png) 50% 50% no-repeat;  background-size: 30px 21px; }
#users .ui-icon { background:url(../images/nav-icons/users.png) 50% 50% no-repeat;  background-size: 30px 24px; }
#v-card .ui-icon { background:url(../images/nav-icons/v-card.png) 50% 50% no-repeat;  background-size: 30px 23px; }
#walk .ui-icon { background:url(../images/nav-icons/walk.png) 50% 50% no-repeat;  background-size: 18px 30px; }
#wine .ui-icon { background:url(../images/nav-icons/wine.png) 50% 50% no-repeat;  background-size: 17px 30px; }
#wine2 .ui-icon { background:url(../images/nav-icons/wine2.png) 50% 50% no-repeat;  background-size: 18px 30px; }
#wordpress .ui-icon { background:url(../images/nav-icons/wordpress.png) 50% 50% no-repeat;  background-size: 28px 28px; }
#you-tube .ui-icon { background:url(../images/nav-icons/you-tube.png) 50% 50% no-repeat;  background-size: 30px 30px; }

/* =============================================================================
   Portfolio
   ========================================================================== */

.gallery { 
	list-style: none; 
	padding: 0; 
	margin: 0; 
}

.gallery:after { 
	clear: both; 
	content: "."; 
	display: block; 
	height: 0; 
	visibility: hidden; 
}

.gallery li { 
	float: left; 
	width: 33.33333333%; 
}

.gallery li a { 
	display: block; 
	margin: 5px; 
	border: 1px solid #3c3c3c; 
}

.gallery li img { 
	display: block; 
	width: 100%; 
	height: auto; 
}

#Gallery1 .ui-content, #Gallery2 .ui-content { 
	overflow: hidden; 
}

.gallery img {
	-webkit-box-shadow: 0px 0px 4px #111;
	-moz-box-shadow: 0px 0px 4px #111;
	box-shadow: 0px 0px 4px #111; 
}


/* =============================================================================
   Homepage Social Icons
   ========================================================================== */
   
div.social {
	text-align:center;
	background-color:rgba(238,238,238,0.4);
	padding:4px;
	border:1px solid #ccc;
	-webkit-transition-duration:0.8s;
  	-moz-transition-duration:0.8s;
  	-o-transition-duration:0.8s;
  	transition-duration:0.8s;
} 

div.social:hover {
	background-color:rgba(238,238,238,1);
	border:1px solid #c1bfbf;	
}

div.social img {
	width:12%; 
	margin-right:10px;
	max-width:60px; 
} 


/* =============================================================================
   Twitter Feed
   ========================================================================== */

ul.tweetList{
	margin:0;
	padding:0; 
	list-style-type:none
}

#jstwitter {
	width:100%;
	background:url(../images/twitterBack.png) repeat;
	-moz-border-radius: 6px;
	border-radius: 6px; 
	padding:0px;
	-webkit-box-shadow:  1px 1px 1px #0f0f0f;
	-moz-box-shadow: 1px 1px 1px #0f0f0f;
	box-shadow: 1px 1px 1px #0f0f0f; 	
}

.tweet {
	padding: 15px 20px;
	color:#FFF;
	border-bottom:1px solid #000000;
	border-top:1px solid #353434;
	text-shadow: 0 1px 0 #000;
	margin: 0 10px;
	font-size:13px
}
		
.followButton {
	margin:0 0 20px 0
}

.time {
	font-size: 11px;
	font-style:italic
}
	
.tweet a {
    color: #2489CE;
    font-weight: bold;
}


/* =============================================================================
   Contact Form
   ========================================================================== */

#errors {
	border:1px solid #cd0a0a;
	background:url(../images/contact-error.png) 50% 50% repeat;
	color:#fff;
	padding: 5px; 
	text-shadow:0 1px 0 #111
}

.hide{
	display:none
}


/* =============================================================================
   Slider
   ========================================================================== */

/* Browser Resets */
.flexslider p { margin: 0;}
.flex-container a:active,
.flexslider a:active {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 
.flex-container { margin:0 auto; }

/* Slider Necessary Styles
*********************************/ 
.flexslider {width: 100%; margin: 0; padding: 0;   }
.flexslider .slides > li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; display: block; max-height:300px; margin:0 auto}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}
.no-js .slides > li:first-child {display: block;}

/* Slider Theme
*********************************/
.flexslider { position: relative; background:#111; }
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;}
.flex-container {zoom: 1; position: relative; margin-bottom:0px; border-bottom:1px solid #aaa  }

/* Caption style */
.flex-caption { 
	text-align:center;     
	zoom: 1; 
	width: 100%; 
	padding: 10px 0; 
	position: absolute; left: 0; bottom: 0 !important; 
	background: rgba(0,0,0,.5); 
	color: #fff; 
	text-shadow: 0 -1px 0 rgba(0,0,0,.3); 
	font-size: 14px; 
	line-height: 18px; 
	
	 font-family: 'Kaushan Script', cursive; font-size:18px; 
	/* font-family: 'Lobster', cursive; font-size:17px; */
 	/* font-family: 'Cardo', serif; font-size:16px; */
 	/* font-family: 'Droid Sans', sans-serif; font-size:16px */
}





